.footer {
  background-color: snow;
  color: #5a2eaa;
  text-align: center;

}

.footer-text {
  font-size: 16px;
}

.footer-links {
  list-style: none;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links li a {
  color: #ffa726;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links li a:hover {
  color: #ffcc80;
}
